
  
  <script type="text/javascript">
    $(document).ready(function() {
      $('#pwd, #cfrm_pwd').on('keyup', function () {
      if ($('#pwd').val() == $('#cfrm_pwd').val()) {
        $('#message').html('Matching').css('color', 'green');
      } else 
        $('#message').html('Not Matching').css('color', 'red');
      });
    });

    $(document).ready(function() {

      $(':input[type="submit"]').prop('disabled', true);


      $('#mail-field').keyup(function(){
        if($('#mail-field').val() !== ''){
          $(':input[type="submit"]').prop('disabled', false);
        }
      });

      $('#pwd').keyup(function(){
        if($('#mail-field').val() !== '' && $('#pwd').val() !== ''){
          $(':input[type="submit"]').prop('disabled', false);
        }
      });

    });
  </script>

  
 <div class="container justify-content-center mt-4">
  <div class="row">
    <div class="col-6">
      <h3 class="text-primary text-center">Edit <%= resource_name.to_s.humanize %></h3>
      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "mail-field" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.password_field :new_password, autocomplete: "new-password", placeholder: "leave blank if you don't want to change it", id: :pwd %>
          <% if @minimum_password_length %>
            <em class="text-info"><%= @minimum_password_length %> characters minimum</em><br />
          <% end %>
        </div>
        <div class="field">
          <%= f.password_field :retype_new_password, autocomplete: "new-password", placeholder: "password confirmation", id: :cfrm_pwd, input_html: { :style=> "margin-bottom: 0rem !important" } %>
          <span id="message"></span>
        </div>
        <div class="field">
          <%= f.password_field :current_password %>
          <i class="text-warning">(we need your current password to confirm your changes)</i><br /><br>
        </div>
        <div class="actions">
          <%= f.submit "Update", :class => "btn btn-outline-secondary" %>
        </div>
      <% end %> 
    </div>
      <div class="col-2">
      </div>
      <div class="col-4">
        <p style="color: blue; font-family:courier;">Unhappy?</p>
        <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class=> "btn btn-outline-danger", style: "font-family:courier;" %>
        <p class="text-info" style="font-family:courier;">
          Click on this button in case you want to delete your account permanantly.
        </p>
      </div>
  </div>
</div>  
