  
 <script type="text/javascript">

  $('#pwd, #cfrm_pwd').on('keyup', function () {
  if ($('#pwd').val() == $('#cfrm_pwd').val()) {
    $('#message').html('Matching').css('color', 'green');
  } else 
    $('#message').html('Not Matching').css('color', 'red');
  });

  //  var check = function() {
  //   if (document.getElementById('pwd').value == document.getElementById('cfrm_pwd').value) {
  //       document.getElementById('message').style.color = 'green';
  //       document.getElementById('message').innerHTML = 'matching';
  //   } else {
  //       document.getElementById('message').style.color = 'red';
  //       document.getElementById('message').innerHTML = 'not matching';
  //   }
  // }
  </script>
 
  <div class="container text-center">
    <h2>Sign up</h2>
  </div>
  <div class="container">
      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.text_field :name, autofocus: true, autocomplete: "Name", required: true %>
        </div>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
        </div>

        <div class="field">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", required: true, id: :pwd %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, id: :cfrm_pwd %>
          <span id="message"></span>
        </div>

        <div class="field">
          <%= f.collection_radio_buttons :role, User.roles, :first, :first, required: true %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>  
