
  
   <div class="mt-4">
    <%= render_breadcrumbs :separator => ' / '%>
   </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-4">
         <h3 class="text-primary">Project Details</h3>
      </div>
      <div class="col-3">
      </div>
      <div class="col-5 text-right">
        <% if can? :manage, Bug%>
          <%=link_to "Add  Bug To Project", new_project_bug_path(@project), :class => "btn btn-outline-primary" %>
        <%end %> 
        <% if current_user.manager? %>
          <%=link_to "Create New Project", new_project_path, :class => "btn btn-outline-primary" %>
          <%=link_to "Edit Project", edit_project_path(@project), :class => "btn btn-outline-primary" %>
          <%=link_to "Delete Project", project_path(@project), method: :delete, :class => "btn btn-outline-primary" %>
        <%end %>
      </div>
    </div>
  </div>

  <div class="container text-center mt-4"> 
    <div class="p-3 mb-2 border border-info" style="background-color: #E8F9FD;">
      <h6 class="card-title text-secondary"><strong></strong><%= @project.title %></h6>
    </div>
    <div class="p-3 mb-2 text-secondary border border-info" style="background-color: #E8F9FD;">
      <h6 class="card-title"><strong></strong><%= @project.description %></h6>
    </div>
  </div>

  <div class="container text-center">
    <% if @project.users.present?%>
      <h3 class="text-primary" style=" margin-top:30px;">Developers Assigned</h3>
      <table class="table table-sm table-hover border border-dark">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <% @project.users.each do |user| %>
            <tr>
              <td class="text-primary"><%= user.name.capitalize %></td>
              <td class="text-primary"><%= user.email %></td>
            </tr>
          <%end %>
        </tbody>
      </table>
    <%end %>  
  </div>

  <div class="container">
    <% if @project.bugs.present?%>
      <h3 class="text-primary text-center">Project Bugs</h3>
      <table class="table table-stripedtable-hover border border-dark">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">View</th>
            <% if can? :edit, Bug%>
              <th scope="col">Update</th>
            <%end %>
            <% if can? :manage, Bug%>
              <th scope="col">Delete</th>
            <%end %>
            <th>Change Status</th>
          </tr>
        </thead>
        <tbody>
        <% @project.bugs.each do |bug| %>
          <tr>
            <td class="text-primary"><%= bug.title %></td>
            <td>
            <%if bug.status == "new_"%>
              <p class="text-danger"><%= bug.status.humanize%></p>
            <%elsif bug.status == "started"%>
               <p class="text-warning"><%= bug.status.humanize%></p>
            <%elsif bug.status == "in_progress"%>
              <p class="text-info"><%= bug.status.humanize %></p>
            <%elsif bug.status == "completed"%>
              <p class="text-success"><%= bug.status.humanize%></p>
            <%end %>
            </td>
            <td><%=link_to "View", project_bug_path(@project, bug), :class => "btn btn-outline-primary" %></td>
            <% if can? :edit, Bug%>
              <td><%=link_to "Edit", edit_project_bug_path(@project, bug), :class => "btn btn-outline-warning"  %></td>
            <%end %>
            <% if can? :manage, Bug%>
              <td><%=link_to "Delete", project_bug_path(@project, bug), method: :delete, :class => "btn btn-outline-danger"  %></td>
            <%end %>
            <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Select Status <span class="caret"></span>
              </button>
              <ul class="dropdown-menu text-center" role="menu">
                <li><%=link_to 'new', project_bug_update_status_path(@project, bug, "0"), :class => "text-danger" %></li>
                <li><%=link_to 'started', project_bug_update_status_path(@project, bug, "1"), :class => "text-warning" %></li>
                <li><%=link_to 'in progress', project_bug_update_status_path(@project, bug, "2"), :class => "text-info" %></li>
                <li class="divider"></li>
                <li><%=link_to 'completed', project_bug_update_status_path(@project, bug, "3"), :class => "text-success" %></li>
              </ul>
            </div>
            </td>
          </tr>
        <%end %>  
        </tbody>
      </table>
    <%end %>  
  </div>