

  <div class="container text-center">
    <h1>Bugs Listing Page</h1>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Owner</th>
          <th>Assignee</th>
          <th>View</th>
          <% if current_user.qa? %>
            <th>Update</th>
          <%end %>  
        </tr>
      </thead>
      <tbody>
        <% @project.bugs.each do |bug| %>
          <tr>
            <td><%= bug.title %></td>
            <td><%= bug.description %></td>
            <td><%= bug.creator.name %></td>
            <td><%= bug.user.try(:name) %></td>
            <td>
              <%=link_to "View", project_bug_path(@project, bug)  %>
            </td>
            <td>
              <% if current_user.qa? %>
                <%=link_to "Edit", edit_project_bug_path(@project,bug)  %>
              <% end %>
            </td>
          </tr>
        <%end %>  
      </tbody>
    </table>

    <h3>Associated Project Details</h3>
    <nav class="navbar navbar-light bg-light">
      <h6 class="card-title"><strong>Title: </strong><%= @project.title %></h6>
    </nav>
    <nav class="navbar navbar-light bg-light">
      <h6 class="card-title"><strong>Owner: </strong><%= @project.creator.name %></h6>
    </nav>
    <p>
    <h4>Assignees</h4>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <% @project.users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
          </tr>
        <%end %>  
      </tbody>
    </table>
    <%=link_to "Create Bug", projects_path, :class => 'btn btn-light' %>
  </div>