

  <div class="mt-4">
    <%= render_breadcrumbs :separator => ' / '%>
  </div>
  <div class="container text-center mt-4">
    <h3 class="text-info">Bugs Listing Page</h3>

    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Owner</th>
          <th>Assignee</th>
          <th>View</th>
          <% if can? :manage, Bug %>
            <th>Update</th>
          <%end %>  
        </tr>
      </thead>
      <tbody>
        <% @bugs.each do |bug| %>
          <tr>
            <td><%= bug.title %></td>
            <td><%= bug.description %></td>
            <td><%= bug.creator.name %></td>
            <td><%= bug.user.try(:name) %></td>
            <td>
              <%=link_to "View", project_bug_path(@project, bug)  %>
            </td>
            <td>
              <% if can? :manage, Bug %>
                <%=link_to "Edit", edit_project_bug_path(@project,bug)  %>
              <% end %>
            </td>
          </tr>
        <%end %>  
      </tbody>
    </table>

    <h3 class="text-info">Associated Project Details</h3>
    <div class="p-3 mb-2 bg-info text-white text-left">
      <h6 class="card-title"><strong>Title: </strong><%= @project.title %></h6>
    </div>
    <div class="p-3 mb-2 bg-info text-white text-left">
      <h6 class="card-title"><strong>Owner: </strong><%= @project.creator.name %></h6>
    </div>
    <p>
    <h3 class="text-info">Assignees</h3>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <% @project.users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
          </tr>
        <%end %>  
      </tbody>
    </table>
    <% if can? :manage, Bug%>
      <%=link_to "Create Bug", projects_path, :class => 'btn btn-light' %>
    <%end %>
  </div>