<!DOCTYPE html>
<html>
  <head>
    <title>BugzillaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render "layouts/navbar" %>
    <% flash.each do |type, msg| %>
      <%if type == "success" or type == "notice" %> 
        <p class=" container text-dark text-center alert alert-info msgs">
          <%= msg %>
        </p>  
      <%else %>
        <p class=" container text-dark text-center alert alert-danger msgs">
          <%= msg %>
        </p>
      <%end %>  
      <script>
        setTimeout("$('.msgs').fadeOut('slow')", 2000)
      </script>
    <% end %>
    <%= yield %>
  </body>
</html>
